In [1]:
# Import libraries
import pandas as pd
import numpy as np
import acquire
import matplotlib.pyplot as plt
import env

# Import functions
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split

### Using the Iris Data:

1. Use the function defined in `acquire.py` to load the iris data.

In [127]:
iris = acquire.get_iris_data()

Reading from file...

2. Clean up the column names - replace the period with an underscore and lowercase.

3. Drop the `species_id` and `measurement_id` columns.

In [131]:
iris = iris.drop(columns=['species_id','measurement_id'])

4. Rename the `species_name` column to just `species`.

In [134]:
iris = iris.rename(columns={'species_name':'species'})

5. Create a function named `prep_iris` that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [137]:
def prep_iris(iris):
    """
    Cleans iris data. Takes a raw dataframe, drops species and measurement IDs, then renames species column. Returns cleaned dataframe.
    """
    iris = iris.drop(columns=['species_id','measurement_id'])
    iris = iris.rename(columns={'species_name':'species'})
    
    return iris

In [139]:
iris

        species  sepal_length  sepal_width  petal_length  petal_width
0        setosa           5.1          3.5           1.4          0.2
1        setosa           4.9          3.0           1.4          0.2
2        setosa           4.7          3.2           1.3          0.2
3        setosa           4.6          3.1           1.5          0.2
4        setosa           5.0          3.6           1.4          0.2
5        setosa           5.4          3.9           1.7          0.4
6        setosa           4.6          3.4           1.4          0.3
7        setosa           5.0          3.4           1.5          0.2
8        setosa           4.4          2.9           1.4          0.2
9        setosa           4.9          3.1           1.5          0.1
10       setosa           5.4          3.7           1.5          0.2
11       setosa           4.8          3.4           1.6          0.2
12       setosa           4.8          3.0           1.4          0.1
13       setosa           4.3          3.0           1.1          0.1
14       setosa           5.8          4.0           1.2          0.2
15       setosa           5.7          4.4           1.5          0.4
16       setosa           5.4          3.9           1.3          0.4
17       setosa           5.1          3.5           1.4          0.3
18       setosa           5.7          3.8           1.7          0.3
19       setosa           5.1          3.8           1.5          0.3
20       setosa           5.4          3.4           1.7          0.2
21       setosa           5.1          3.7           1.5          0.4
22       setosa           4.6          3.6           1.0          0.2
23       setosa           5.1          3.3           1.7          0.5
24       setosa           4.8          3.4           1.9          0.2
25       setosa           5.0          3.0           1.6          0.2
26       setosa           5.0          3.4           1.6          0.4
27       setosa           5.2          3.5           1.5          0.2
28       setosa           5.2          3.4           1.4          0.2
29       setosa           4.7          3.2           1.6          0.2
30       setosa           4.8          3.1           1.6          0.2
31       setosa           5.4          3.4           1.5          0.4
32       setosa           5.2          4.1           1.5          0.1
33       setosa           5.5          4.2           1.4          0.2
34       setosa           4.9          3.1           1.5          0.2
35       setosa           5.0          3.2           1.2          0.2
36       setosa           5.5          3.5           1.3          0.2
37       setosa           4.9          3.6           1.4          0.1
38       setosa           4.4          3.0           1.3          0.2
39       setosa           5.1          3.4           1.5          0.2
40       setosa           5.0          3.5           1.3          0.3
41       setosa           4.5          2.3           1.3          0.3
42       setosa           4.4          3.2           1.3          0.2
43       setosa           5.0          3.5           1.6          0.6
44       setosa           5.1          3.8           1.9          0.4
45       setosa           4.8          3.0           1.4          0.3
46       setosa           5.1          3.8           1.6          0.2
47       setosa           4.6          3.2           1.4          0.2
48       setosa           5.3          3.7           1.5          0.2
49       setosa           5.0          3.3           1.4          0.2
50   versicolor           7.0          3.2           4.7          1.4
51   versicolor           6.4          3.2           4.5          1.5
52   versicolor           6.9          3.1           4.9          1.5
53   versicolor           5.5          2.3           4.0          1.3
54   versicolor           6.5          2.8           4.6          1.5
55   versicolor           5.7          2.8           4.5          1.3
56   versicolor           6.3          3.3           4.7          1.6
57   versicolor           4.9          2.4           3.3          1.0
58   versicolor           6.6          2.9           4.6          1.3
59   versicolor           5.2          2.7           3.9          1.4
60   versicolor           5.0          2.0           3.5          1.0
61   versicolor           5.9          3.0           4.2          1.5
62   versicolor           6.0          2.2           4.0          1.0
63   versicolor           6.1          2.9           4.7          1.4
64   versicolor           5.6          2.9           3.6          1.3
65   versicolor           6.7          3.1           4.4          1.4
66   versicolor           5.6          3.0           4.5          1.5
67   versicolor           5.8          2.7           4.1          1.0
68   versicolor           6.2          2.2           4.5          1.5
69   versicolor           5.6          2.5           3.9          1.1
70   versicolor           5.9          3.2           4.8          1.8
71   versicolor           6.1          2.8           4.0          1.3
72   versicolor           6.3          2.5           4.9          1.5
73   versicolor           6.1          2.8           4.7          1.2
74   versicolor           6.4          2.9           4.3          1.3
75   versicolor           6.6          3.0           4.4          1.4
76   versicolor           6.8          2.8           4.8          1.4
77   versicolor           6.7          3.0           5.0          1.7
78   versicolor           6.0          2.9           4.5          1.5
79   versicolor           5.7          2.6           3.5          1.0
80   versicolor           5.5          2.4           3.8          1.1
81   versicolor           5.5          2.4           3.7          1.0
82   versicolor           5.8          2.7           3.9          1.2
83   versicolor           6.0          2.7           5.1          1.6
84   versicolor           5.4          3.0           4.5          1.5
85   versicolor           6.0          3.4           4.5          1.6
86   versicolor           6.7          3.1           4.7          1.5
87   versicolor           6.3          2.3           4.4          1.3
88   versicolor           5.6          3.0           4.1          1.3
89   versicolor           5.5          2.5           4.0          1.3
90   versicolor           5.5          2.6           4.4          1.2
91   versicolor           6.1          3.0           4.6          1.4
92   versicolor           5.8          2.6           4.0          1.2
93   versicolor           5.0          2.3           3.3          1.0
94   versicolor           5.6          2.7           4.2          1.3
95   versicolor           5.7          3.0           4.2          1.2
96   versicolor           5.7          2.9           4.2          1.3
97   versicolor           6.2          2.9           4.3          1.3
98   versicolor           5.1          2.5           3.0          1.1
99   versicolor           5.7          2.8           4.1          1.3
100   virginica           6.3          3.3           6.0          2.5
101   virginica           5.8          2.7           5.1          1.9
102   virginica           7.1          3.0           5.9          2.1
103   virginica           6.3          2.9           5.6          1.8
104   virginica           6.5          3.0           5.8          2.2
105   virginica           7.6          3.0           6.6          2.1
106   virginica           4.9          2.5           4.5          1.7
107   virginica           7.3          2.9           6.3          1.8
108   virginica           6.7          2.5           5.8          1.8
109   virginica           7.2          3.6           6.1          2.5
110   virginica           6.5          3.2           5.1          2.0
111   virginica           6.4          2.7           5.3          1.9
112   virginica           6.8          3.0           5.5          2.1
113   virginica           5.7          2.5           5.0          2.0
114   virginica           5.8          2.8           5.1          2.4
115   virginica           6.4          3.2           5.3          2.3
116   virginica           6.5          3.0           5.5          1.8
117   virginica           7.7          3.8           6.7          2.2
118   virginica           7.7          2.6           6.9          2.3
119   virginica           6.0          2.2           5.0          1.5
120   virginica           6.9          3.2           5.7          2.3
121   virginica           5.6          2.8           4.9          2.0
122   virginica           7.7          2.8           6.7          2.0
123   virginica           6.3          2.7           4.9          1.8
124   virginica           6.7          3.3           5.7          2.1
125   virginica           7.2          3.2           6.0          1.8
126   virginica           6.2          2.8           4.8          1.8
127   virginica           6.1          3.0           4.9          1.8
128   virginica           6.4          2.8           5.6          2.1
129   virginica           7.2          3.0           5.8          1.6
130   virginica           7.4          2.8           6.1          1.9
131   virginica           7.9          3.8           6.4          2.0
132   virginica           6.4          2.8           5.6          2.2
133   virginica           6.3          2.8           5.1          1.5
134   virginica           6.1          2.6           5.6          1.4
135   virginica           7.7          3.0           6.1          2.3
136   virginica           6.3          3.4           5.6          2.4
137   virginica           6.4          3.1           5.5          1.8
138   virginica           6.0          3.0           4.8          1.8
139   virginica           6.9          3.1           5.4          2.1
140   virginica           6.7          3.1           5.6          2.4
141   virginica           6.9          3.1           5.1          2.3
142   virginica           5.8          2.7           5.1          1.9
143   virginica           6.8          3.2           5.9          2.3
144   virginica           6.7          3.3           5.7          2.5
145   virginica           6.7          3.0           5.2          2.3
146   virginica           6.3          2.5           5.0          1.9
147   virginica           6.5          3.0           5.2          2.0
148   virginica           6.2          3.4           5.4          2.3
149   virginica           5.9          3.0           5.1          1.8

### Using the Titanic dataset

1. Use the function defined in `acquire.py` to load the Titanic data.

2. Drop any unnecessary, unhelpful, or duplicated columns.

3. Create a function named `prep_titanic` that accepts the raw titanic data, and returns the data with the transformations above applied.

### Using the Telco dataset

1. Use the function defined in `acquire.py` to load the Telco data.

In [5]:
telco = acquire.get_telco_data()

Reading from file...

2. Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [8]:
telco.head(1)

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check

In [10]:
# Drop extra ID columns
telco = telco.drop(columns=['payment_type_id','internet_service_type_id','contract_type_id'],errors='ignore')

In [212]:
# telco.nunique()
# telco.dtypes
# telco.sample(1).iloc[0]

In [58]:
# create a dataframe holding info about telco
telco_info = env.df_info(telco)
telco_info

                       nunique   dtypes  isnull               sample
customer_id               7043   object       0           4750-UKWJK
gender                       2   object       0               Female
senior_citizen               2    int64       0                    1
partner                      2   object       0                  Yes
dependents                   2   object       0                   No
tenure                      73    int64       0                   37
phone_service                2   object       0                  Yes
multiple_lines               3   object       0                   No
online_security              3   object       0  No internet service
online_backup                3   object       0  No internet service
device_protection            3   object       0  No internet service
tech_support                 3   object       0  No internet service
streaming_tv                 3   object       0  No internet service
streaming_movies             3   object       0  No internet service
paperless_billing            2   object       0                   No
monthly_charges           1585  float64       0                 19.6
total_charges             6531   object       0                727.8
churn                        2   object       0                   No
contract_type                3   object       0             One year
internet_service_type        2   object    1526                  NaN
payment_type                 4   object       0         Mailed check

In [214]:
# Convert categoricals into objects
for col in telco.columns:
    # print(col)
    if telco[col].dtype != 'object' and telco[col].nunique() < 10:
        telco[col] = telco[col].astype(object)
        # print(col,'is not object')
    # if telco[col].nunique() < 10:
    #     print(col,'is probably cat var')

In [32]:
# Handle total_charges (should be a float)
# Find out why it's an object
telco.total_charges.value_counts()

total_charges
           11
20.2       11
19.75       9
19.9        8
20.05       8
           ..
2387.75     1
6302.8      1
2058.5      1
829.55      1
3707.6      1
Name: count, Length: 6531, dtype: int64

In [42]:
# Examine records with these fake null values
telco[telco.total_charges == ' ']

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
945,1371-DWPAZ,Female,0,Yes,Yes,0,No,No phone service,Yes,Yes,...,Yes,Yes,No,No,56.05,,No,Two year,DSL,Credit card (automatic)
1731,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,No,20.00,,No,Two year,NaN,Mailed check
1906,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,Yes,Yes,...,Yes,No,No,Yes,61.90,,No,Two year,DSL,Bank transfer (automatic)
2025,2923-ARZLG,Male,0,Yes,Yes,0,Yes,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,Yes,19.70,,No,One year,NaN,Mailed check
2176,3115-CZMZD,Male,0,No,Yes,0,Yes,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,No,20.25,,No,Two year,NaN,Mailed check
2250,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,No internet service,No internet service,...,No internet service,No internet service,No internet service,No,25.35,,No,Two year,NaN,Mailed check
2855,4075-WKNIU,Female,0,Yes,Yes,0,Yes,Yes,No,Yes,...,Yes,Yes,No,No,73.35,,No,Two year,DSL,Mailed check
3052,4367-NUYAO,Male,0,Yes,Yes,0,Yes,Yes,No internet service,No internet service,...,No internet service,No internet service,No internet service,No,25.75,,No,Two year,NaN,Mailed check
3118,4472-LVYGI,Female,0,Yes,Yes,0,No,No phone service,Yes,No,...,Yes,Yes,No,Yes,52.55,,No,Two year,DSL,Bank transfer (automatic)
4054,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,No,Yes,Yes,...,No,Yes,Yes,No,80.85,,No,Two year,DSL,Mailed check
5433,7644-OMVMY,Male,0,Yes,Yes,0,Yes,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,No,19.85,,No,Two year,NaN,Mailed check

In [50]:
# Correct fake nulls
telco.total_charges = np.where(telco.total_charges==' ',telco.tenure*telco.monthly_charges,telco.total_charges)

In [62]:
telco.total_charges = telco.total_charges.astype(float)

3. Handle null values.

In [60]:
# See why there are so many nulls in internet_service_type
telco.internet_service_type.value_counts(dropna=False)

internet_service_type
Fiber optic    3096
DSL            2421
NaN            1526
Name: count, dtype: int64

In [130]:
pd.crosstab(telco.internet_service_type,telco.streaming_movies,dropna=False)

streaming_movies         No  No internet service   Yes
internet_service_type
DSL                    1440                    0   981
Fiber optic            1345                    0  1751
NaN                       0                 1526     0

In [190]:
# Replace nulls with None
telco.internet_service_type = np.where(telco.internet_service_type.isnull(),'None',telco.internet_service_type)

4. Create a function named `prep_telco` that accepts the raw telco data, and returns the data with the transformations above applied.

In [80]:
def prep_telco(telco):
    """
    ADD ME
    """
    # Drop extra ID columns
    telco = telco.drop(columns=['payment_type_id','internet_service_type_id','contract_type_id'],errors='ignore')
    
    # Replace nulls in internet_service_type with None
    telco.internet_service_type = np.where(telco.internet_service_type.isnull(),'None',telco.internet_service_type)
    
    # Fix fake nulls in total_charges
    telco.total_charges = np.where(telco.total_charges==' ',telco.tenure*telco.monthly_charges,telco.total_charges)
    telco.total_charges = telco.total_charges.astype(float)
    
    # Convert categoricals into objects
    for col in telco.columns:
        if telco[col].dtype != 'object' and telco[col].nunique() < 10:
            telco[col] = telco[col].astype(object)
    
    return telco

In [82]:
# test the function
telco = acquire.get_telco_data()

Reading from file...

In [84]:
telco.head()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

In [86]:
telco = prep_telco(telco)

In [94]:
telco.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,Yes,Yes,No,Yes,65.6,593.30,No,One year,DSL,Mailed check
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,No,No,Yes,No,59.9,542.40,No,Month-to-month,DSL,Mailed check
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,...,Yes,Yes,No,Yes,83.9,267.40,Yes,Month-to-month,Fiber optic,Mailed check

In [92]:
env.df_info(telco)

                       nunique   dtypes  isnull          sample
customer_id               7043   object       0      4223-WOZCM
gender                       2   object       0            Male
senior_citizen               2   object       0               1
partner                      2   object       0              No
dependents                   2   object       0              No
tenure                      73    int64       0               2
phone_service                2   object       0             Yes
multiple_lines               3   object       0              No
online_security              3   object       0              No
online_backup                3   object       0              No
device_protection            3   object       0             Yes
tech_support                 3   object       0              No
streaming_tv                 3   object       0              No
streaming_movies             3   object       0              No
paperless_billing            2   object       0              No
monthly_charges           1585  float64       0           49.95
total_charges             6531  float64       0           107.1
churn                        2   object       0              No
contract_type                3   object       0  Month-to-month
internet_service_type        3   object       0             DSL
payment_type                 4   object       0    Mailed check

### Split your data

1. Write a function to split your data into train, test and validate datasets. Add this function to prepare.py.

In [114]:
# Run test to see if I can pass a string for usage in train_test_split
strat_var = 'churn'

In [118]:
train,test = train_test_split(telco,
                              train_size=0.60,
                              random_state=123,
                              stratify=telco[strat_var]
)
print(train)

     customer_id  gender senior_citizen partner dependents  tenure  \
2865  4083-BFNYK  Female              1     Yes         No      38
4107  5804-LEPIM  Female              1      No         No       2
3453  4895-TMWIR    Male              1     Yes         No      11
923   1342-JPNKI    Male              0      No         No      10
2370  3397-AVTKU    Male              0      No         No      43
...          ...     ...            ...     ...        ...     ...
1286  1915-IOFGU  Female              0      No         No       1
4999  7025-WCBNE    Male              1      No         No      47
6892  9788-HNGUT    Male              0     Yes         No      72
3718  5229-PRWKT    Male              0      No         No       8
5354  7562-UXTPG  Female              0      No         No      13

     phone_service multiple_lines      online_security        online_backup  \
2865           Yes            Yes                  Yes                  Yes
4107           Yes             No                   No                   No
3453           Yes             No  No internet service  No internet service
923            Yes            Yes                   No                   No
2370           Yes             No                   No                  Yes
...            ...            ...                  ...                  ...
1286           Yes             No                   No                   No
4999           Yes            Yes                   No                  Yes
6892           Yes            Yes                  Yes                  Yes
3718           Yes            Yes                   No                   No
5354           Yes             No                   No                   No

      ...         tech_support         streaming_tv     streaming_movies  \
2865  ...                   No                   No                  Yes
4107  ...                   No                   No                   No
3453  ...  No internet service  No internet service  No internet service
923   ...                   No                  Yes                   No
2370  ...                   No                   No                  Yes
...   ...                  ...                  ...                  ...
1286  ...                   No                   No                   No
4999  ...                  Yes                   No                   No
6892  ...                  Yes                  Yes                  Yes
3718  ...                   No                   No                  Yes
5354  ...                   No                   No                   No

     paperless_billing monthly_charges  total_charges  churn   contract_type  \
2865                No           95.00        3591.25     No        One year
4107               Yes           70.35         139.05    Yes  Month-to-month
3453                No           19.95         214.75    Yes  Month-to-month
923                Yes           86.05         834.10    Yes  Month-to-month
2370               Yes           60.00        2548.55     No        Two year
...                ...             ...            ...    ...             ...
1286                No           70.50          70.50    Yes  Month-to-month
4999                No           59.60        2754.00     No        Two year
6892               Yes          116.95        8594.40     No        Two year
3718               Yes           86.55         649.65    Yes  Month-to-month
5354               Yes           70.15         886.70     No  Month-to-month

     internet_service_type               payment_type
2865           Fiber optic    Credit card (automatic)
4107           Fiber optic           Electronic check
3453                  None               Mailed check
923            Fiber optic  Bank transfer (automatic)
2370                   DSL           Electronic check
...                    ...                        ...
1286           Fiber optic           Electronic check
4999                   DSL  Bank transfer (automatic)
6892           Fiber optic    Credit card (automatic)
3718           Fiber optic           Electronic check
5354           Fiber optic               Mailed check

[4225 rows x 21 columns]

/opt/homebrew/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/opt/homebrew/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [120]:
def split_df(df,strat_var):
    """
    ADD ME!
    """
    # Run first split
    train, validate_test = train_test_split(df,
                 train_size=0.60,
                random_state=123,
                 stratify=df[strat_var]
                )
    
    # Run second split
    validate, test = train_test_split(validate_test,
                test_size=0.50,
                 random_state=123,
                 stratify=validate_test[strat_var]
                )
    
    return train, validate, test

2. Run the function in your notebook on the Iris dataset, returning 3 datasets, train_iris, validate_iris and test_iris.

In [158]:
train_iris,validate_iris,test_iris = split_df(iris,'species')

/opt/homebrew/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/opt/homebrew/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/opt/homebrew/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/opt/homebrew/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [152]:
print(f"""
train: {len(train_iris)}
validate: {len(validate_iris)}
test: {len(test_iris)}
""")

train: 90
validate: 30
test: 30

3. Run the function on the Titanic dataset, returning 3 datasets, train_titanic, validate_titanic and test_titanic.

4. Run the function on the Telco dataset, returning 3 datasets, train_telco, validate_telco and test_telco.

In [154]:
train_telco,validate_telco,test_telco = split_df(telco,'churn')

/opt/homebrew/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/opt/homebrew/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
/opt/homebrew/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/opt/homebrew/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [162]:
print(f"""
train: {len(train_telco)}
validate: {len(validate_telco)}
test: {len(test_telco)}
""")

train: 4225
validate: 1409
test: 1409