In [10]:
# Import libraries
import pandas as pd
import numpy as np
import acquire
import matplotlib.pyplot as plt

# Import functions
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split

### Using the Iris Data:

1. Use the function defined in `acquire.py` to load the iris data.

In [14]:
iris = acquire.get_iris_data()

Reading from file...

2. Clean up the column names - replace the period with an underscore and lowercase.

3. Drop the `species_id` and `measurement_id` columns.

In [25]:
iris = iris.drop(columns=['species_id','measurement_id'])

4. Rename the `species_name` column to just `species`.

In [30]:
iris = iris.rename(columns={'species_name':'species'})

5. Create a function named `prep_iris` that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [34]:
def prep_iris(iris):
    """
    Cleans iris data. Takes a raw dataframe, drops species and measurement IDs, then renames species column. Returns cleaned dataframe.
    """
    iris = iris.drop(columns=['species_id','measurement_id'])
    iris = iris.rename(columns={'species_name':'species'})
    
    return iris

### Using the Titanic dataset

1. Use the function defined in `acquire.py` to load the Titanic data.

2. Drop any unnecessary, unhelpful, or duplicated columns.

3. Create a function named `prep_titanic` that accepts the raw titanic data, and returns the data with the transformations above applied.

### Using the Telco dataset

1. Use the function defined in `acquire.py` to load the Telco data.

In [39]:
telco = acquire.get_telco_data()

Reading from file...

2. Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [44]:
# Drop extra ID columns

3. Handle null values.

4. Create a function named `prep_telco` that accepts the raw telco data, and returns the data with the transformations above applied.

### Split your data

1. Write a function to split your data into train, test and validate datasets. Add this function to prepare.py.

2. Run the function in your notebook on the Iris dataset, returning 3 datasets, train_iris, validate_iris and test_iris.

3. Run the function on the Titanic dataset, returning 3 datasets, train_titanic, validate_titanic and test_titanic.

4. Run the function on the Telco dataset, returning 3 datasets, train_telco, validate_telco and test_telco.