Do these exercises in a notebook called `modeling.ipynb` first, then transfer the final functions to the `model.py` file.
- [x] modeling.ipynb
- [ ] model.py

In [2]:
# import python libraries
import pandas as pd
import numpy as np

# import personal libraries
import acquire
import prepare

Using the Titanic dataset

1. [x] Use the function defined in `acquire.py` to load the Titanic data.

In [4]:
titanic = acquire.get_titanic_data()
titanic.head()

Reading from file...

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [5]:
acquire.df_info(titanic)

              nunique   dtypes  isnull       sample
passenger_id      891    int64       0          728
survived            2    int64       0            0
pclass              3    int64       0            2
sex                 2   object       0         male
age                88  float64     177         25.0
sibsp               7    int64       0            1
parch               7    int64       0            0
fare              248  float64       0         26.0
embarked            3   object       2            S
class               3   object       0       Second
deck                7   object     688          NaN
embark_town         3   object       2  Southampton
alone               2    int64       0            0

2. [x] Use the function defined in `prepare.py` to prepare the titanic data.

In [7]:
titanic = prepare.prep_titanic(titanic)
titanic.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,Southampton,1

In [8]:
acquire.df_info(titanic)

              nunique   dtypes  isnull       sample
passenger_id      891   object       0          191
survived            2   object       0            0
pclass              3   object       0            2
sex                 2   object       0         male
age                88  float64     177         19.0
sibsp               7   object       0            0
parch               7   object       0            0
fare              248  float64       0         13.0
embark_town         3   object       2  Southampton
alone               2   object       0            1

In [9]:
train,validate,test = prepare.split_df(titanic,'survived')
acquire.df_info(train)

              nunique   dtypes  isnull     sample
passenger_id      534   object       0        702
survived            2   object       0          0
pclass              3   object       0          3
sex                 2   object       0     female
age                76  float64     105       18.0
sibsp               7   object       0          0
parch               6   object       0          1
fare              194  float64       0    14.4542
embark_town         3   object       1  Cherbourg
alone               2   object       0          0

3. [X] Encode the categorical columns on train dataset. Create dummy variables of the categorical columns and concatenate them onto the dataframe. Remove the columns they are replacing. Repeat on validate and test.

In [11]:
# split sex and append it to train
train['is_male'] = pd.get_dummies(train.sex,drop_first=True).astype(int)
train

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embark_town,alone,is_male
776,776,0,3,male,NaN,0,0,7.7500,Queenstown,1,1
829,829,1,1,female,62.0,0,0,80.0000,NaN,1,0
215,215,1,1,female,31.0,1,0,113.2750,Cherbourg,0,0
258,258,1,1,female,35.0,0,0,512.3292,Cherbourg,1,0
129,129,0,3,male,45.0,0,0,6.9750,Southampton,1,1
...,...,...,...,...,...,...,...,...,...,...,...
125,125,1,3,male,12.0,1,0,11.2417,Cherbourg,0,1
360,360,0,3,male,40.0,1,4,27.9000,Southampton,0,1
55,55,1,1,male,NaN,0,0,35.5000,Southampton,1,1
298,298,1,1,male,NaN,0,0,30.5000,Southampton,1,1
768,768,0,3,male,NaN,1,0,24.1500,Queenstown,0,1

In [12]:
# split embark_town and append it to train
train[['is_Queenstown','is_Southampton']] = pd.get_dummies(train.embark_town,drop_first=True).astype(int)
train

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embark_town,alone,is_male,is_Queenstown,is_Southampton
776,776,0,3,male,NaN,0,0,7.7500,Queenstown,1,1,1,0
829,829,1,1,female,62.0,0,0,80.0000,NaN,1,0,0,0
215,215,1,1,female,31.0,1,0,113.2750,Cherbourg,0,0,0,0
258,258,1,1,female,35.0,0,0,512.3292,Cherbourg,1,0,0,0
129,129,0,3,male,45.0,0,0,6.9750,Southampton,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,125,1,3,male,12.0,1,0,11.2417,Cherbourg,0,1,0,0
360,360,0,3,male,40.0,1,4,27.9000,Southampton,0,1,0,1
55,55,1,1,male,NaN,0,0,35.5000,Southampton,1,1,0,1
298,298,1,1,male,NaN,0,0,30.5000,Southampton,1,1,0,1
768,768,0,3,male,NaN,1,0,24.1500,Queenstown,0,1,1,0

In [13]:
# drop sex and embark_town
train = train.drop(columns=['sex','embark_town'],errors='ignore')

train

,passenger_id,survived,pclass,age,sibsp,parch,fare,alone,is_male,is_Queenstown,is_Southampton
776,776,0,3,NaN,0,0,7.7500,1,1,1,0
829,829,1,1,62.0,0,0,80.0000,1,0,0,0
215,215,1,1,31.0,1,0,113.2750,0,0,0,0
258,258,1,1,35.0,0,0,512.3292,1,0,0,0
129,129,0,3,45.0,0,0,6.9750,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
125,125,1,3,12.0,1,0,11.2417,0,1,0,0
360,360,0,3,40.0,1,4,27.9000,0,1,0,1
55,55,1,1,NaN,0,0,35.5000,1,1,0,1
298,298,1,1,NaN,0,0,30.5000,1,1,0,1
768,768,0,3,NaN,1,0,24.1500,0,1,1,0

In [14]:
# Reevaluate dataset
acquire.df_info(train)

                nunique   dtypes  isnull sample
passenger_id        534   object       0    338
survived              2   object       0      1
pclass                3   object       0      3
age                  76  float64     105   45.0
sibsp                 7   object       0      0
parch                 6   object       0      0
fare                194  float64       0   8.05
alone                 2   object       0      1
is_male               2    int64       0      1
is_Queenstown         2    int64       0      0
is_Southampton        2    int64       0      1

In [15]:
# age still has nulls
# Examine age to determine what to do with it
print(f'age mode: {train.age.mode()}')
print(f'age mean: {train.age.mean()}')
print(f'age range: {train.age.max()-train.age.min()}')

age mode: 0    19.0
Name: age, dtype: float64
age mean: 28.622773892773893
age range: 70.58

In [16]:
# it's strange that age range is a float
train.age.nsmallest(10)

803    0.42
644    0.75
469    0.75
831    0.83
305    0.92
164    1.00
386    1.00
827    1.00
172    1.00
183    1.00
Name: age, dtype: float64

In [17]:
# get proportions of nulls in age to total
train.age.isna().mean()

0.19662921348314608

In [18]:
# See how age correlates with other columns
train.corr()['age']

passenger_id      0.009966
survived         -0.080203
pclass           -0.381316
age               1.000000
sibsp            -0.333471
parch            -0.166234
fare              0.097977
alone             0.192770
is_male           0.034655
is_Queenstown    -0.045625
is_Southampton   -0.023125
Name: age, dtype: float64

In [19]:
# pclass has the highest correlation with age
# Compare binned ages against pclasses using crosstab
pd.crosstab(pd.cut(train.age,bins=5),train.pclass,dropna=False,normalize=True)*100

pclass                   1         2          3
age
NaN               3.558052  0.936330  15.168539
(0.349, 14.536]   0.374532  2.434457   7.116105
(14.536, 28.652]  4.868914  8.426966  21.535581
(28.652, 42.768]  6.367041  5.992509   9.550562
(42.768, 56.884]  5.056180  2.434457   2.808989
(56.884, 71.0]    2.247191  0.374532   0.749064

In [20]:
# apply function to get mean of a passengers age grouped by pclass
train.age = train.age.fillna(round(train.groupby('pclass').age.transform('mean'),2))
train

,passenger_id,survived,pclass,age,sibsp,parch,fare,alone,is_male,is_Queenstown,is_Southampton
776,776,0,3,24.31,0,0,7.7500,1,1,1,0
829,829,1,1,62.00,0,0,80.0000,1,0,0,0
215,215,1,1,31.00,1,0,113.2750,0,0,0,0
258,258,1,1,35.00,0,0,512.3292,1,0,0,0
129,129,0,3,45.00,0,0,6.9750,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
125,125,1,3,12.00,1,0,11.2417,0,1,0,0
360,360,0,3,40.00,1,4,27.9000,0,1,0,1
55,55,1,1,38.27,0,0,35.5000,1,1,0,1
298,298,1,1,38.27,0,0,30.5000,1,1,0,1
768,768,0,3,24.31,1,0,24.1500,0,1,1,0

In [21]:
# Revisit how the dataset looks
acquire.df_info(train)

                nunique   dtypes  isnull  sample
passenger_id        534   object       0     568
survived              2   object       0       0
pclass                3   object       0       3
age                  79  float64       0   24.31
sibsp                 7   object       0       0
parch                 6   object       0       0
fare                194  float64       0  7.2292
alone                 2   object       0       1
is_male               2    int64       0       1
is_Queenstown         2    int64       0       0
is_Southampton        2    int64       0       0

In [22]:
# Now do this all to validate
validate['is_male'] = pd.get_dummies(validate.sex,drop_first=True).astype(int)
validate[['is_Queenstown','is_Southampton']] = pd.get_dummies(validate.embark_town,drop_first=True).astype(int)
validate = validate.drop(columns=['sex','embark_town'],errors='ignore')
validate.age = validate.age.fillna(round(validate.groupby('pclass').age.transform('mean'),2))

# Check without looking at all the data
acquire.df_info(validate)

                nunique   dtypes  isnull sample
passenger_id        178   object       0    559
survived              2   object       0      1
pclass                3   object       0      3
age                  61  float64       0   36.0
sibsp                 6   object       0      1
parch                 4   object       0      0
fare                112  float64       0   17.4
alone                 2   object       0      0
is_male               2    int64       0      0
is_Queenstown         2    int64       0      0
is_Southampton        2    int64       0      1

In [23]:
# Repeat with test
test['is_male'] = pd.get_dummies(test.sex,drop_first=True).astype(int)
test[['is_Queenstown','is_Southampton']] = pd.get_dummies(test.embark_town,drop_first=True).astype(int)
test = test.drop(columns=['sex','embark_town'],errors='ignore')
test.age = test.age.fillna(round(test.groupby('pclass').age.transform('mean'),2))

# Check without looking at all the data
acquire.df_info(validate)

                nunique   dtypes  isnull sample
passenger_id        178   object       0     78
survived              2   object       0      1
pclass                3   object       0      2
age                  61  float64       0   0.83
sibsp                 6   object       0      0
parch                 4   object       0      2
fare                112  float64       0   29.0
alone                 2   object       0      0
is_male               2    int64       0      1
is_Queenstown         2    int64       0      0
is_Southampton        2    int64       0      1

In [24]:
# Try to turn everything into a float
train.astype(float)

,passenger_id,survived,pclass,age,sibsp,parch,fare,alone,is_male,is_Queenstown,is_Southampton
776,776.0,0.0,3.0,24.31,0.0,0.0,7.7500,1.0,1.0,1.0,0.0
829,829.0,1.0,1.0,62.00,0.0,0.0,80.0000,1.0,0.0,0.0,0.0
215,215.0,1.0,1.0,31.00,1.0,0.0,113.2750,0.0,0.0,0.0,0.0
258,258.0,1.0,1.0,35.00,0.0,0.0,512.3292,1.0,0.0,0.0,0.0
129,129.0,0.0,3.0,45.00,0.0,0.0,6.9750,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
125,125.0,1.0,3.0,12.00,1.0,0.0,11.2417,0.0,1.0,0.0,0.0
360,360.0,0.0,3.0,40.00,1.0,4.0,27.9000,0.0,1.0,0.0,1.0
55,55.0,1.0,1.0,38.27,0.0,0.0,35.5000,1.0,1.0,0.0,1.0
298,298.0,1.0,1.0,38.27,0.0,0.0,30.5000,1.0,1.0,0.0,1.0
768,768.0,0.0,3.0,24.31,1.0,0.0,24.1500,0.0,1.0,1.0,0.0

4. [X] Create a function named `preprocess_titanic` that accepts the train, validate, and test titanic data, and returns the dataframes ready for modeling.

In [129]:
def preprocess_titanic(df):
    """
    Function to process and encode titanic dataset. 
    
    !!! WARNING !!! 
    This function will turn all columns into numerics for modeling. It is ill-advised to use this on your complete dataset.
    """
    # Encode sex column into binary is_male column
    df['is_male'] = pd.get_dummies(df.sex,drop_first=True).astype(int)
    
    # Encode embark_town into binary columns 'is_Queenstown' and 'is_Southampton'
    # Don't make column for Cherbourg because if Queenstown and Southampton are 0,
    # then Cherbourg must be 1
    df[['is_Queenstown','is_Southampton']] = pd.get_dummies(df.embark_town,drop_first=True).astype(int)
    
    # Drop columns that are not encoded
    df = df.drop(columns=['sex','embark_town','passenger_id'],errors='ignore')
    
    # Encode everything as numerics
    return df.astype(float)

In [131]:
# Try out the function.
# Import the titanic dataset, run the prepare, and then the preprocess function
titanic = acquire.get_titanic_data()
titanic = prepare.prep_titanic(titanic)
train,validate,test = prepare.split_df(titanic,'survived')
train_encoded = preprocess_titanic(train)
train_encoded

Reading from file...

,survived,pclass,age,sibsp,parch,fare,alone,is_male,is_Queenstown,is_Southampton
776,0.0,3.0,24.31,0.0,0.0,7.7500,1.0,1.0,1.0,0.0
829,1.0,1.0,62.00,0.0,0.0,80.0000,1.0,0.0,0.0,0.0
215,1.0,1.0,31.00,1.0,0.0,113.2750,0.0,0.0,0.0,0.0
258,1.0,1.0,35.00,0.0,0.0,512.3292,1.0,0.0,0.0,0.0
129,0.0,3.0,45.00,0.0,0.0,6.9750,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
125,1.0,3.0,12.00,1.0,0.0,11.2417,0.0,1.0,0.0,0.0
360,0.0,3.0,40.00,1.0,4.0,27.9000,0.0,1.0,0.0,1.0
55,1.0,1.0,38.27,0.0,0.0,35.5000,1.0,1.0,0.0,1.0
298,1.0,1.0,38.27,0.0,0.0,30.5000,1.0,1.0,0.0,1.0
768,0.0,3.0,24.31,1.0,0.0,24.1500,0.0,1.0,1.0,0.0

Using the Telco dataset

1. [x] Use the function defined in `acquire.py` to load the Telco data.

In [29]:
# load the telco data
telco = acquire.get_telco_data()
telco.head()

Reading from file...

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

In [30]:
acquire.df_info(telco)

                          nunique   dtypes  isnull            sample
payment_type_id                 4    int64       0                 1
internet_service_type_id        3    int64       0                 2
contract_type_id                3    int64       0                 1
customer_id                  7043   object       0        8086-OVPWV
gender                          2   object       0              Male
senior_citizen                  2    int64       0                 0
partner                         2   object       0                No
dependents                      2   object       0                No
tenure                         73    int64       0                 2
phone_service                   2   object       0               Yes
multiple_lines                  3   object       0                No
online_security                 3   object       0                No
online_backup                   3   object       0                No
device_protection               3   object       0                No
tech_support                    3   object       0                No
streaming_tv                    3   object       0                No
streaming_movies                3   object       0               Yes
paperless_billing               2   object       0               Yes
monthly_charges              1585  float64       0              80.2
total_charges                6531   object       0             181.1
churn                           2   object       0               Yes
contract_type                   3   object       0    Month-to-month
internet_service_type           2   object    1526       Fiber optic
payment_type                    4   object       0  Electronic check

2. [x] Use the function defined in `prepare.py` to prepare the Telco data.

In [32]:
telco = prepare.prep_telco(telco)
telco.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure_mths,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,streaming,online_services,support,phone_lines
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,65.6,593.30,No,One year,DSL,Mailed check,TV,Backup,Tech Support,Single
1,0003-MKNFE,Male,0,No,No,9,No,59.9,542.40,No,Month-to-month,DSL,Mailed check,Movies,Neither,Neither,Multiple
2,0004-TLHLJ,Male,0,No,No,4,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check,Neither,Neither,Device Protection,Single
3,0011-IGKFF,Male,1,Yes,No,13,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check,Both,Backup,Device Protection,Single
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,83.9,267.40,Yes,Month-to-month,Fiber optic,Mailed check,TV,Neither,Tech Support,Single

In [33]:
acquire.df_info(telco)

                       nunique   dtypes  isnull             sample
customer_id               7043   object       0         9225-BZLNZ
gender                       2   object       0               Male
senior_citizen               2   object       0                  0
partner                      2   object       0                Yes
dependents                   2   object       0                 No
tenure_mths                 73    int64       0                 72
paperless_billing            2   object       0                Yes
monthly_charges           1585  float64       0              85.25
total_charges             6531  float64       0             6083.1
churn                        2   object       0                 No
contract_type                3   object       0           Two year
internet_service_type        3   object       0                DSL
payment_type                 4   object       0   Electronic check
streaming                    5   object       0               Both
online_services              5   object       0               Both
support                      5   object       0  Device Protection
phone_lines                  3   object       0           Multiple

In [34]:
# # Combine streaming services
# telco['streaming']= np.select(
#     [
#     (telco['streaming_movies'] == 'Yes') & (telco['streaming_tv'] == 'Yes'),
#     (telco['streaming_movies'] == 'Yes'),
#     (telco['streaming_tv'] == 'Yes')
#     ],
#     ['Both', 'Movies', 'TV'],
#     default='None'
# )
# telco = telco.drop(columns=['streaming_tv','streaming_movies'],errors='ignore')
# telco

In [35]:
# # Combine online services
# telco['online_services']= np.select(
#     [
#     (telco['online_security'] == 'Yes') & (telco['online_backup'] == 'Yes'),
#     (telco['online_security'] == 'Yes'),
#     (telco['online_backup'] == 'Yes')
#     ],
#     ['Both', 'Security', 'Backup'],
#     default='None'
# )

# telco = telco.drop(columns=['online_security','online_backup'])
# telco

In [36]:
# # Combine device_protection and tech_support
# telco['support']= np.select(
#     [
#     (telco['device_protection'] == 'Yes') & (telco['tech_support'] == 'Yes'),
#     (telco['device_protection'] == 'Yes'),
#     (telco['tech_support'] == 'Yes')
#     ],
#     ['Both', 'Device Protection', 'Tech Support'],
#     default='None'
# )

# telco = telco.drop(columns=['device_protection','tech_support'])
# telco

In [37]:
# telco.phone_service.value_counts()

# # Combine phone service
# telco['phone_lines'] = np.select(
#     [
#     (telco['multiple_lines'] == 'No') & (telco['phone_service'] == 'Yes'),
#     (telco['multiple_lines'] == 'Yes')
#     ],
#     ['Single', 'Multiple'],
#     default='No phone service'
# )

# telco = telco.drop(columns=['multiple_lines','phone_service'])
# telco

In [38]:
telco.phone_lines.value_counts()

phone_lines
Single              3390
Multiple            2971
No phone service     682
Name: count, dtype: int64

In [39]:
train,validate,test = prepare.split_df(telco,'churn')

3. Encode the categorical columns on train.
    1. [x] Encode at least one column using `.replace`
    2. [x] Encode at least one column using `.map`
    3. [x] Encode the rest of the columns by creating dummy variables and concatenating them onto the dataframe.

In [41]:
# Encode partner by replacing 'Yes' with 1 and 'No' with 0
train['partner'] = train.partner.replace(['Yes','No'],[1,0])
train

,customer_id,gender,senior_citizen,partner,dependents,tenure_mths,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,streaming,online_services,support,phone_lines
2865,4083-BFNYK,Female,1,1,No,38,No,95.00,3591.25,No,One year,Fiber optic,Credit card (automatic),Movies,Both,Neither,Multiple
4107,5804-LEPIM,Female,1,0,No,2,Yes,70.35,139.05,Yes,Month-to-month,Fiber optic,Electronic check,Neither,Neither,Neither,Single
3453,4895-TMWIR,Male,1,1,No,11,No,19.95,214.75,Yes,Month-to-month,None,Mailed check,No internet service,No internet service,No internet service,Single
923,1342-JPNKI,Male,0,0,No,10,Yes,86.05,834.10,Yes,Month-to-month,Fiber optic,Bank transfer (automatic),TV,Neither,Neither,Multiple
2370,3397-AVTKU,Male,0,0,No,43,Yes,60.00,2548.55,No,Two year,DSL,Electronic check,Movies,Backup,Neither,Single
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1286,1915-IOFGU,Female,0,0,No,1,No,70.50,70.50,Yes,Month-to-month,Fiber optic,Electronic check,Neither,Neither,Neither,Single
4999,7025-WCBNE,Male,1,0,No,47,No,59.60,2754.00,No,Two year,DSL,Bank transfer (automatic),Neither,Backup,Tech Support,Multiple
6892,9788-HNGUT,Male,0,1,No,72,Yes,116.95,8594.40,No,Two year,Fiber optic,Credit card (automatic),Both,Both,Both,Multiple
3718,5229-PRWKT,Male,0,0,No,8,Yes,86.55,649.65,Yes,Month-to-month,Fiber optic,Electronic check,Movies,Neither,Neither,Multiple
5354,7562-UXTPG,Female,0,0,No,13,Yes,70.15,886.70,No,Month-to-month,Fiber optic,Mailed check,Neither,Neither,Neither,Single

In [42]:
train['dependents'] = train.dependents.map({'Yes':1,'No':0})
train

,customer_id,gender,senior_citizen,partner,dependents,tenure_mths,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,streaming,online_services,support,phone_lines
2865,4083-BFNYK,Female,1,1,0,38,No,95.00,3591.25,No,One year,Fiber optic,Credit card (automatic),Movies,Both,Neither,Multiple
4107,5804-LEPIM,Female,1,0,0,2,Yes,70.35,139.05,Yes,Month-to-month,Fiber optic,Electronic check,Neither,Neither,Neither,Single
3453,4895-TMWIR,Male,1,1,0,11,No,19.95,214.75,Yes,Month-to-month,None,Mailed check,No internet service,No internet service,No internet service,Single
923,1342-JPNKI,Male,0,0,0,10,Yes,86.05,834.10,Yes,Month-to-month,Fiber optic,Bank transfer (automatic),TV,Neither,Neither,Multiple
2370,3397-AVTKU,Male,0,0,0,43,Yes,60.00,2548.55,No,Two year,DSL,Electronic check,Movies,Backup,Neither,Single
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1286,1915-IOFGU,Female,0,0,0,1,No,70.50,70.50,Yes,Month-to-month,Fiber optic,Electronic check,Neither,Neither,Neither,Single
4999,7025-WCBNE,Male,1,0,0,47,No,59.60,2754.00,No,Two year,DSL,Bank transfer (automatic),Neither,Backup,Tech Support,Multiple
6892,9788-HNGUT,Male,0,1,0,72,Yes,116.95,8594.40,No,Two year,Fiber optic,Credit card (automatic),Both,Both,Both,Multiple
3718,5229-PRWKT,Male,0,0,0,8,Yes,86.55,649.65,Yes,Month-to-month,Fiber optic,Electronic check,Movies,Neither,Neither,Multiple
5354,7562-UXTPG,Female,0,0,0,13,Yes,70.15,886.70,No,Month-to-month,Fiber optic,Mailed check,Neither,Neither,Neither,Single

In [43]:
train.paperless_billing = train.paperless_billing.replace(['Yes','No'],[1,0])
train

,customer_id,gender,senior_citizen,partner,dependents,tenure_mths,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,streaming,online_services,support,phone_lines
2865,4083-BFNYK,Female,1,1,0,38,0,95.00,3591.25,No,One year,Fiber optic,Credit card (automatic),Movies,Both,Neither,Multiple
4107,5804-LEPIM,Female,1,0,0,2,1,70.35,139.05,Yes,Month-to-month,Fiber optic,Electronic check,Neither,Neither,Neither,Single
3453,4895-TMWIR,Male,1,1,0,11,0,19.95,214.75,Yes,Month-to-month,None,Mailed check,No internet service,No internet service,No internet service,Single
923,1342-JPNKI,Male,0,0,0,10,1,86.05,834.10,Yes,Month-to-month,Fiber optic,Bank transfer (automatic),TV,Neither,Neither,Multiple
2370,3397-AVTKU,Male,0,0,0,43,1,60.00,2548.55,No,Two year,DSL,Electronic check,Movies,Backup,Neither,Single
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1286,1915-IOFGU,Female,0,0,0,1,0,70.50,70.50,Yes,Month-to-month,Fiber optic,Electronic check,Neither,Neither,Neither,Single
4999,7025-WCBNE,Male,1,0,0,47,0,59.60,2754.00,No,Two year,DSL,Bank transfer (automatic),Neither,Backup,Tech Support,Multiple
6892,9788-HNGUT,Male,0,1,0,72,1,116.95,8594.40,No,Two year,Fiber optic,Credit card (automatic),Both,Both,Both,Multiple
3718,5229-PRWKT,Male,0,0,0,8,1,86.55,649.65,Yes,Month-to-month,Fiber optic,Electronic check,Movies,Neither,Neither,Multiple
5354,7562-UXTPG,Female,0,0,0,13,1,70.15,886.70,No,Month-to-month,Fiber optic,Mailed check,Neither,Neither,Neither,Single

In [44]:
train.churn = train.churn.map({'Yes':1,'No':0})
train

,customer_id,gender,senior_citizen,partner,dependents,tenure_mths,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,streaming,online_services,support,phone_lines
2865,4083-BFNYK,Female,1,1,0,38,0,95.00,3591.25,0,One year,Fiber optic,Credit card (automatic),Movies,Both,Neither,Multiple
4107,5804-LEPIM,Female,1,0,0,2,1,70.35,139.05,1,Month-to-month,Fiber optic,Electronic check,Neither,Neither,Neither,Single
3453,4895-TMWIR,Male,1,1,0,11,0,19.95,214.75,1,Month-to-month,None,Mailed check,No internet service,No internet service,No internet service,Single
923,1342-JPNKI,Male,0,0,0,10,1,86.05,834.10,1,Month-to-month,Fiber optic,Bank transfer (automatic),TV,Neither,Neither,Multiple
2370,3397-AVTKU,Male,0,0,0,43,1,60.00,2548.55,0,Two year,DSL,Electronic check,Movies,Backup,Neither,Single
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1286,1915-IOFGU,Female,0,0,0,1,0,70.50,70.50,1,Month-to-month,Fiber optic,Electronic check,Neither,Neither,Neither,Single
4999,7025-WCBNE,Male,1,0,0,47,0,59.60,2754.00,0,Two year,DSL,Bank transfer (automatic),Neither,Backup,Tech Support,Multiple
6892,9788-HNGUT,Male,0,1,0,72,1,116.95,8594.40,0,Two year,Fiber optic,Credit card (automatic),Both,Both,Both,Multiple
3718,5229-PRWKT,Male,0,0,0,8,1,86.55,649.65,1,Month-to-month,Fiber optic,Electronic check,Movies,Neither,Neither,Multiple
5354,7562-UXTPG,Female,0,0,0,13,1,70.15,886.70,0,Month-to-month,Fiber optic,Mailed check,Neither,Neither,Neither,Single

In [45]:
# split sex
train['is_Male'] = pd.get_dummies(train.gender,drop_first=True).astype(int)
train

,customer_id,gender,senior_citizen,partner,dependents,tenure_mths,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,streaming,online_services,support,phone_lines,is_Male
2865,4083-BFNYK,Female,1,1,0,38,0,95.00,3591.25,0,One year,Fiber optic,Credit card (automatic),Movies,Both,Neither,Multiple,0
4107,5804-LEPIM,Female,1,0,0,2,1,70.35,139.05,1,Month-to-month,Fiber optic,Electronic check,Neither,Neither,Neither,Single,0
3453,4895-TMWIR,Male,1,1,0,11,0,19.95,214.75,1,Month-to-month,None,Mailed check,No internet service,No internet service,No internet service,Single,1
923,1342-JPNKI,Male,0,0,0,10,1,86.05,834.10,1,Month-to-month,Fiber optic,Bank transfer (automatic),TV,Neither,Neither,Multiple,1
2370,3397-AVTKU,Male,0,0,0,43,1,60.00,2548.55,0,Two year,DSL,Electronic check,Movies,Backup,Neither,Single,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1286,1915-IOFGU,Female,0,0,0,1,0,70.50,70.50,1,Month-to-month,Fiber optic,Electronic check,Neither,Neither,Neither,Single,0
4999,7025-WCBNE,Male,1,0,0,47,0,59.60,2754.00,0,Two year,DSL,Bank transfer (automatic),Neither,Backup,Tech Support,Multiple,1
6892,9788-HNGUT,Male,0,1,0,72,1,116.95,8594.40,0,Two year,Fiber optic,Credit card (automatic),Both,Both,Both,Multiple,1
3718,5229-PRWKT,Male,0,0,0,8,1,86.55,649.65,1,Month-to-month,Fiber optic,Electronic check,Movies,Neither,Neither,Multiple,1
5354,7562-UXTPG,Female,0,0,0,13,1,70.15,886.70,0,Month-to-month,Fiber optic,Mailed check,Neither,Neither,Neither,Single,0

In [46]:
train[['is_1year','is_2year']] =  pd.get_dummies(train.contract_type,drop_first=True).astype(int)
train

,customer_id,gender,senior_citizen,partner,dependents,tenure_mths,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,streaming,online_services,support,phone_lines,is_Male,is_1year,is_2year
2865,4083-BFNYK,Female,1,1,0,38,0,95.00,3591.25,0,One year,Fiber optic,Credit card (automatic),Movies,Both,Neither,Multiple,0,1,0
4107,5804-LEPIM,Female,1,0,0,2,1,70.35,139.05,1,Month-to-month,Fiber optic,Electronic check,Neither,Neither,Neither,Single,0,0,0
3453,4895-TMWIR,Male,1,1,0,11,0,19.95,214.75,1,Month-to-month,None,Mailed check,No internet service,No internet service,No internet service,Single,1,0,0
923,1342-JPNKI,Male,0,0,0,10,1,86.05,834.10,1,Month-to-month,Fiber optic,Bank transfer (automatic),TV,Neither,Neither,Multiple,1,0,0
2370,3397-AVTKU,Male,0,0,0,43,1,60.00,2548.55,0,Two year,DSL,Electronic check,Movies,Backup,Neither,Single,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1286,1915-IOFGU,Female,0,0,0,1,0,70.50,70.50,1,Month-to-month,Fiber optic,Electronic check,Neither,Neither,Neither,Single,0,0,0
4999,7025-WCBNE,Male,1,0,0,47,0,59.60,2754.00,0,Two year,DSL,Bank transfer (automatic),Neither,Backup,Tech Support,Multiple,1,0,1
6892,9788-HNGUT,Male,0,1,0,72,1,116.95,8594.40,0,Two year,Fiber optic,Credit card (automatic),Both,Both,Both,Multiple,1,0,1
3718,5229-PRWKT,Male,0,0,0,8,1,86.55,649.65,1,Month-to-month,Fiber optic,Electronic check,Movies,Neither,Neither,Multiple,1,0,0
5354,7562-UXTPG,Female,0,0,0,13,1,70.15,886.70,0,Month-to-month,Fiber optic,Mailed check,Neither,Neither,Neither,Single,0,0,0

In [47]:
train[['is_fiber_optic','is_none']] = pd.get_dummies(train.internet_service_type,drop_first=True).astype(int)
train

,customer_id,gender,senior_citizen,partner,dependents,tenure_mths,paperless_billing,monthly_charges,total_charges,churn,...,payment_type,streaming,online_services,support,phone_lines,is_Male,is_1year,is_2year,is_fiber_optic,is_none
2865,4083-BFNYK,Female,1,1,0,38,0,95.00,3591.25,0,...,Credit card (automatic),Movies,Both,Neither,Multiple,0,1,0,1,0
4107,5804-LEPIM,Female,1,0,0,2,1,70.35,139.05,1,...,Electronic check,Neither,Neither,Neither,Single,0,0,0,1,0
3453,4895-TMWIR,Male,1,1,0,11,0,19.95,214.75,1,...,Mailed check,No internet service,No internet service,No internet service,Single,1,0,0,0,1
923,1342-JPNKI,Male,0,0,0,10,1,86.05,834.10,1,...,Bank transfer (automatic),TV,Neither,Neither,Multiple,1,0,0,1,0
2370,3397-AVTKU,Male,0,0,0,43,1,60.00,2548.55,0,...,Electronic check,Movies,Backup,Neither,Single,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1286,1915-IOFGU,Female,0,0,0,1,0,70.50,70.50,1,...,Electronic check,Neither,Neither,Neither,Single,0,0,0,1,0
4999,7025-WCBNE,Male,1,0,0,47,0,59.60,2754.00,0,...,Bank transfer (automatic),Neither,Backup,Tech Support,Multiple,1,0,1,0,0
6892,9788-HNGUT,Male,0,1,0,72,1,116.95,8594.40,0,...,Credit card (automatic),Both,Both,Both,Multiple,1,0,1,1,0
3718,5229-PRWKT,Male,0,0,0,8,1,86.55,649.65,1,...,Electronic check,Movies,Neither,Neither,Multiple,1,0,0,1,0
5354,7562-UXTPG,Female,0,0,0,13,1,70.15,886.70,0,...,Mailed check,Neither,Neither,Neither,Single,0,0,0,1,0

In [48]:
train[['is_credit_auto','is_e_check','is_mail_check']] = pd.get_dummies(train.payment_type,drop_first=True).astype(int)
train

,customer_id,gender,senior_citizen,partner,dependents,tenure_mths,paperless_billing,monthly_charges,total_charges,churn,...,support,phone_lines,is_Male,is_1year,is_2year,is_fiber_optic,is_none,is_credit_auto,is_e_check,is_mail_check
2865,4083-BFNYK,Female,1,1,0,38,0,95.00,3591.25,0,...,Neither,Multiple,0,1,0,1,0,1,0,0
4107,5804-LEPIM,Female,1,0,0,2,1,70.35,139.05,1,...,Neither,Single,0,0,0,1,0,0,1,0
3453,4895-TMWIR,Male,1,1,0,11,0,19.95,214.75,1,...,No internet service,Single,1,0,0,0,1,0,0,1
923,1342-JPNKI,Male,0,0,0,10,1,86.05,834.10,1,...,Neither,Multiple,1,0,0,1,0,0,0,0
2370,3397-AVTKU,Male,0,0,0,43,1,60.00,2548.55,0,...,Neither,Single,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1286,1915-IOFGU,Female,0,0,0,1,0,70.50,70.50,1,...,Neither,Single,0,0,0,1,0,0,1,0
4999,7025-WCBNE,Male,1,0,0,47,0,59.60,2754.00,0,...,Tech Support,Multiple,1,0,1,0,0,0,0,0
6892,9788-HNGUT,Male,0,1,0,72,1,116.95,8594.40,0,...,Both,Multiple,1,0,1,1,0,1,0,0
3718,5229-PRWKT,Male,0,0,0,8,1,86.55,649.65,1,...,Neither,Multiple,1,0,0,1,0,0,1,0
5354,7562-UXTPG,Female,0,0,0,13,1,70.15,886.70,0,...,Neither,Single,0,0,0,1,0,0,0,1

In [49]:
train[['has_movies','has_neither','has_no_internet','has_tv']] = pd.get_dummies(train.streaming,drop_first=True).astype(int)
train

,customer_id,gender,senior_citizen,partner,dependents,tenure_mths,paperless_billing,monthly_charges,total_charges,churn,...,is_2year,is_fiber_optic,is_none,is_credit_auto,is_e_check,is_mail_check,has_movies,has_neither,has_no_internet,has_tv
2865,4083-BFNYK,Female,1,1,0,38,0,95.00,3591.25,0,...,0,1,0,1,0,0,1,0,0,0
4107,5804-LEPIM,Female,1,0,0,2,1,70.35,139.05,1,...,0,1,0,0,1,0,0,1,0,0
3453,4895-TMWIR,Male,1,1,0,11,0,19.95,214.75,1,...,0,0,1,0,0,1,0,0,1,0
923,1342-JPNKI,Male,0,0,0,10,1,86.05,834.10,1,...,0,1,0,0,0,0,0,0,0,1
2370,3397-AVTKU,Male,0,0,0,43,1,60.00,2548.55,0,...,1,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1286,1915-IOFGU,Female,0,0,0,1,0,70.50,70.50,1,...,0,1,0,0,1,0,0,1,0,0
4999,7025-WCBNE,Male,1,0,0,47,0,59.60,2754.00,0,...,1,0,0,0,0,0,0,1,0,0
6892,9788-HNGUT,Male,0,1,0,72,1,116.95,8594.40,0,...,1,1,0,1,0,0,0,0,0,0
3718,5229-PRWKT,Male,0,0,0,8,1,86.55,649.65,1,...,0,1,0,0,1,0,1,0,0,0
5354,7562-UXTPG,Female,0,0,0,13,1,70.15,886.70,0,...,0,1,0,0,0,1,0,1,0,0

In [50]:
train[['has_both_online_services','has_no_online_services','has_no_internet','is_online_security']] = pd.get_dummies(train.online_services,drop_first=True).astype(int)
train

,customer_id,gender,senior_citizen,partner,dependents,tenure_mths,paperless_billing,monthly_charges,total_charges,churn,...,is_credit_auto,is_e_check,is_mail_check,has_movies,has_neither,has_no_internet,has_tv,has_both_online_services,has_no_online_services,is_online_security
2865,4083-BFNYK,Female,1,1,0,38,0,95.00,3591.25,0,...,1,0,0,1,0,0,0,1,0,0
4107,5804-LEPIM,Female,1,0,0,2,1,70.35,139.05,1,...,0,1,0,0,1,0,0,0,1,0
3453,4895-TMWIR,Male,1,1,0,11,0,19.95,214.75,1,...,0,0,1,0,0,1,0,0,0,0
923,1342-JPNKI,Male,0,0,0,10,1,86.05,834.10,1,...,0,0,0,0,0,0,1,0,1,0
2370,3397-AVTKU,Male,0,0,0,43,1,60.00,2548.55,0,...,0,1,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1286,1915-IOFGU,Female,0,0,0,1,0,70.50,70.50,1,...,0,1,0,0,1,0,0,0,1,0
4999,7025-WCBNE,Male,1,0,0,47,0,59.60,2754.00,0,...,0,0,0,0,1,0,0,0,0,0
6892,9788-HNGUT,Male,0,1,0,72,1,116.95,8594.40,0,...,1,0,0,0,0,0,0,1,0,0
3718,5229-PRWKT,Male,0,0,0,8,1,86.55,649.65,1,...,0,1,0,1,0,0,0,0,1,0
5354,7562-UXTPG,Female,0,0,0,13,1,70.15,886.70,0,...,0,0,1,0,1,0,0,0,1,0

In [51]:
train[['has_device_protection','has_no_support','has_no_internet','has_tech_support']] = pd.get_dummies(train.support,drop_first=True).astype(int)
train

,customer_id,gender,senior_citizen,partner,dependents,tenure_mths,paperless_billing,monthly_charges,total_charges,churn,...,has_movies,has_neither,has_no_internet,has_tv,has_both_online_services,has_no_online_services,is_online_security,has_device_protection,has_no_support,has_tech_support
2865,4083-BFNYK,Female,1,1,0,38,0,95.00,3591.25,0,...,1,0,0,0,1,0,0,0,1,0
4107,5804-LEPIM,Female,1,0,0,2,1,70.35,139.05,1,...,0,1,0,0,0,1,0,0,1,0
3453,4895-TMWIR,Male,1,1,0,11,0,19.95,214.75,1,...,0,0,1,0,0,0,0,0,0,0
923,1342-JPNKI,Male,0,0,0,10,1,86.05,834.10,1,...,0,0,0,1,0,1,0,0,1,0
2370,3397-AVTKU,Male,0,0,0,43,1,60.00,2548.55,0,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1286,1915-IOFGU,Female,0,0,0,1,0,70.50,70.50,1,...,0,1,0,0,0,1,0,0,1,0
4999,7025-WCBNE,Male,1,0,0,47,0,59.60,2754.00,0,...,0,1,0,0,0,0,0,0,0,1
6892,9788-HNGUT,Male,0,1,0,72,1,116.95,8594.40,0,...,0,0,0,0,1,0,0,0,0,0
3718,5229-PRWKT,Male,0,0,0,8,1,86.55,649.65,1,...,1,0,0,0,0,1,0,0,1,0
5354,7562-UXTPG,Female,0,0,0,13,1,70.15,886.70,0,...,0,1,0,0,0,1,0,0,1,0

In [52]:
train[['no_phone_service','has_single_line']] = pd.get_dummies(train.phone_lines,drop_first=True).astype(int)
train

,customer_id,gender,senior_citizen,partner,dependents,tenure_mths,paperless_billing,monthly_charges,total_charges,churn,...,has_no_internet,has_tv,has_both_online_services,has_no_online_services,is_online_security,has_device_protection,has_no_support,has_tech_support,no_phone_service,has_single_line
2865,4083-BFNYK,Female,1,1,0,38,0,95.00,3591.25,0,...,0,0,1,0,0,0,1,0,0,0
4107,5804-LEPIM,Female,1,0,0,2,1,70.35,139.05,1,...,0,0,0,1,0,0,1,0,0,1
3453,4895-TMWIR,Male,1,1,0,11,0,19.95,214.75,1,...,1,0,0,0,0,0,0,0,0,1
923,1342-JPNKI,Male,0,0,0,10,1,86.05,834.10,1,...,0,1,0,1,0,0,1,0,0,0
2370,3397-AVTKU,Male,0,0,0,43,1,60.00,2548.55,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1286,1915-IOFGU,Female,0,0,0,1,0,70.50,70.50,1,...,0,0,0,1,0,0,1,0,0,1
4999,7025-WCBNE,Male,1,0,0,47,0,59.60,2754.00,0,...,0,0,0,0,0,0,0,1,0,0
6892,9788-HNGUT,Male,0,1,0,72,1,116.95,8594.40,0,...,0,0,1,0,0,0,0,0,0,0
3718,5229-PRWKT,Male,0,0,0,8,1,86.55,649.65,1,...,0,0,0,1,0,0,1,0,0,0
5354,7562-UXTPG,Female,0,0,0,13,1,70.15,886.70,0,...,0,0,0,1,0,0,1,0,0,1

In [103]:
acquire.df_info(train)

                          nunique   dtypes  isnull             sample
customer_id                  4225   object       0         0727-IWKVK
gender                          2   object       0               Male
senior_citizen                  2   object       0                  0
partner                         2    int64       0                  1
dependents                      2    int64       0                  0
tenure_mths                    73    int64       0                  9
paperless_billing               2    int64       0                  1
monthly_charges              1374  float64       0               79.9
total_charges                4006  float64       0              741.7
churn                           2    int64       0                  1
contract_type                   3   object       0     Month-to-month
internet_service_type           3   object       0        Fiber optic
payment_type                    4   object       0   Electronic check
streaming                       5   object       0            Neither
online_services                 5   object       0             Backup
support                         5   object       0  Device Protection
phone_lines                     3   object       0             Single
is_Male                         2    int64       0                  1
is_1year                        2    int64       0                  0
is_2year                        2    int64       0                  0
is_fiber_optic                  2    int64       0                  1
is_none                         2    int64       0                  0
is_credit_auto                  2    int64       0                  0
is_e_check                      2    int64       0                  1
is_mail_check                   2    int64       0                  0
has_movies                      2    int64       0                  0
has_neither                     2    int64       0                  1
has_no_internet                 2    int64       0                  0
has_tv                          2    int64       0                  0
has_both_online_services        2    int64       0                  0
has_no_online_services          2    int64       0                  0
is_online_security              2    int64       0                  0
has_device_protection           2    int64       0                  1
has_no_support                  2    int64       0                  0
has_tech_support                2    int64       0                  0
no_phone_service                2    int64       0                  0
has_single_line                 2    int64       0                  1

4. [ ] Repeat the same steps on validate and test.

In [ ]:
# establish dictionary for map statements
# Will use this for test as well
bin_replace = {'Yes':1,'No':0}

# replace

5. [ ] Create a function named `prep_telco` that accepts the train, validate, and test telco data, and returns the dataframes ready for modeling.

In [148]:
def preprocess_telco(df):
    """
    Function to process and encode telco dataset. Assumes the data has been prepared already.
    
    !!! WARNING !!! 
    This function will turn all columns into numerics for modeling. It is ill-advised to use this on your complete dataset.
    """
    
    # Replace yes and no with 1 and 0
    bin_replace = {'Yes':1,'No':0}
    
    df['partner'] = df.partner.map(bin_replace)
    df['dependents'] = df.dependents.map(bin_replace)
    df['paperless_billing'] = df.paperless_billing.map(bin_replace)
    df['churn'] = df.churn.map(bin_replace)
    
    # Split less binary options
    df['is_Male'] = pd.get_dummies(df.gender,drop_first=True).astype(int)
    df[['is_1year','is_2year']] =  pd.get_dummies(df.contract_type,drop_first=True).astype(int)
    df[['is_fiber_optic','is_no_internet']] = pd.get_dummies(df.internet_service_type,drop_first=True).astype(int)
    df[['is_credit_auto','is_e_check','is_mail_check']] = pd.get_dummies(df.payment_type,drop_first=True).astype(int)
    df[['has_movies','has_neither','has_no_internet','has_tv']] = pd.get_dummies(df.streaming,drop_first=True).astype(int)
    df[['has_both_online_services','has_no_online_services','has_no_internet','is_online_security']] = \
        pd.get_dummies(df.online_services,drop_first=True).astype(int)
    df[['has_device_protection','has_no_support','has_no_internet','has_tech_support']] = pd.get_dummies(df.support,drop_first=True).astype(int)
    df[['no_phone_service','has_single_line']] = pd.get_dummies(df.phone_lines,drop_first=True).astype(int)
    
    
    # drop newly unnecessary columns
    df = df.drop(columns=[
        'gender'
        ,'contract_type'
        ,'internet_service_type'
        ,'payment_type'
        ,'streaming'
        ,'online_services'
        ,'support'
        ,'phone_lines'
        ,'customer_id'
    ])
    
    return df.astype(float)

In [135]:
df = acquire.get_telco_data()
df = prepare.prep_telco(df)
df.head()

Reading from file...

,customer_id,gender,senior_citizen,partner,dependents,tenure_mths,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,streaming,online_services,support,phone_lines
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,65.6,593.30,No,One year,DSL,Mailed check,TV,Backup,Tech Support,Single
1,0003-MKNFE,Male,0,No,No,9,No,59.9,542.40,No,Month-to-month,DSL,Mailed check,Movies,Neither,Neither,Multiple
2,0004-TLHLJ,Male,0,No,No,4,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check,Neither,Neither,Device Protection,Single
3,0011-IGKFF,Male,1,Yes,No,13,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check,Both,Backup,Device Protection,Single
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,83.9,267.40,Yes,Month-to-month,Fiber optic,Mailed check,TV,Neither,Tech Support,Single

In [137]:
preprocess_telco(df)

,senior_citizen,partner,dependents,tenure_mths,paperless_billing,monthly_charges,total_charges,churn,is_Male,is_1year,...,has_no_internet,has_tv,has_both_online_services,has_no_online_services,is_online_security,has_device_protection,has_no_support,has_tech_support,no_phone_service,has_single_line
0,0.0,1.0,1.0,9.0,1.0,65.60,593.30,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,0.0,0.0,0.0,9.0,0.0,59.90,542.40,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,4.0,1.0,73.90,280.85,1.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
3,1.0,1.0,0.0,13.0,1.0,98.00,1237.85,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,1.0,1.0,0.0,3.0,1.0,83.90,267.40,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0.0,0.0,0.0,13.0,0.0,55.15,742.90,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
7039,0.0,1.0,0.0,22.0,1.0,85.10,1873.70,1.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
7040,0.0,0.0,0.0,2.0,1.0,50.30,92.75,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
7041,0.0,1.0,1.0,67.0,0.0,67.85,4627.65,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
7042,0.0,1.0,1.0,63.0,0.0,59.00,3707.60,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0